#rb-fullpage {
  margin-left: 270px;
}

.rb-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &_page {
    height: auto;
    overflow: visible;
  }
  &_x {
    &_start {
      align-items: flex-start;
    }
    &_end {
      align-items: flex-end;
    }
    &_center {
      align-items: center;
    }
  }
  &_y {
    &_start {
      justify-content: flex-start;
    }
    &_end {
      justify-content: flex-end;
    }
    &_center {
      justify-content: center;
    }
  }
  &_padding {
    &_20 {
      padding: 20px;
    }
    &_40 {
      padding: 40px;
    }
    &_50 {
      padding: 60px;
    }
    &_60 {
      padding: 60px;
    }
    &_80 {
      padding: 80px;
    }
    &_100 {
      padding: 100px;
    }
  }
}

.rb-navigation {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 270px;
  height: 100vh;
  padding: 30px 10px 30px 0;
  overflow-y: auto;
  background: url('../images/nav_bg.jpg') no-repeat center top;
  background-size: cover;
  z-index: 99;
  header {
    padding-left: 60px;
  }
  footer {
    padding-left: 60px;
    p {
      display: block;
      margin-bottom: 12px;
      color: #ffffff;
      font-size: 13px;
      line-height: 1.38;
      font-weight: 400;
      b,
      strong {
        font-weight: 800;
      }
    }
  }
  &__switcher {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.15s ease-out;
    z-index: 20;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  &__close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
    transition: all 0.3s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      transform: rotate(360deg);
      text-decoration: none;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 6px;
    img {
      max-width: 100%;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__what {
    display: block;
    margin-bottom: 20px;
    color: #010101;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
  &__nav {
    display: block;
    max-width: 230px;
    margin-bottom: 35px;
    padding: 40px 20px 20px 60px;
    border-radius: 0 40px 40px 0;
    background-color: #ffffff;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin-bottom: 20px;
        color: #1f1f1f;
        font-size: 11px;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__call {
    display: block;
    margin-bottom: 15px;
    color: #fceb26;
    font-size: 11px;
    font-weight: 800;
    line-height: 1.18;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__number {
    display: block;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.75;
    text-transform: uppercase;
  }
  &__social {
    display: inline-block;
    margin: 0 5px 5px 0;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.rb-top {
  display: block;
  width: 100%;
  height: 100%;
  &__card {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slick-prev {
    top: 40px;
    bottom: auto;
    left: 50px;
    width: 32px;
    height: 32px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  .slick-next {
    top: 40px;
    bottom: auto;
    left: 85px;
    width: 32px;
    height: 32px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.home-welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  &__title {
    display: block;
    max-width: 850px;
    margin: 200px 0;
    text-align: center;
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.39;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 880px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    &-number {
      display: block;
      margin-bottom: 0;
      color: #f7ea43;
      font-size: 63px;
      font-weight: 900;
    }
    &-title {
      display: block;
      margin-bottom: 10px;
      color: #f7ea43;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      display: block;
      max-width: 165px;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.46;
    }
  }
}

.home-stock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;
  &__title {
    display: block;
    margin-bottom: 10px;
    color: #242222;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.39;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #242222;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.42;
  }
  &__btn {
    display: inline-block;
    padding: 16px 28px;
    border-radius: 10px;
    background-color: rgba(89, 89, 87, 0.8);
    color: #f7ea43;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #f7ea43;
      color: #242222;
      text-decoration: none;
    }
  }
}

.home-features {
  &__title {
    display: block;
    margin-bottom: 90px;
    color: #585857;
    font-size: 36px;
    font-weight: 900;
    &_page {
      margin-bottom: 10px;
      color: #585856;
      font-size: 44px;
      font-weight: 900;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 910px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 178px;
    margin: 0 5px 40px 5px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 1px;
      height: 50px;
      background-color: #f7eb43;
      transition: all 0.15s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 50px;
      background-color: #f7eb43;
      transition: all 0.15s ease-out;
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: rgba(51, 51, 51, 0.65);
      text-align: center;
      color: #f7eb43;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      transition: all 0.3s ease-out;
    }
    &:hover,
    &:active,
    &:focus {
      justify-content: flex-end;
      text-decoration: none;
      .home-features__card-title {
        height: auto;
        padding: 16px;
        border-radius: 0 0 20px 20px;
      }
      &:before {
        top: auto;
        bottom: 100%;
      }
      &:after {
        bottom: auto;
        top: 100%;
      }
    }
  }
}

.rb-repair {
  display: block;
  width: 100%;
  height: 100%;
  &__card {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 25px 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.80);
    color: #585857;
    font-size: 18px;
    font-weight: 400;
    &-title {
      display: block;
      margin-bottom: 20px;
      color: #2c2c2c;
      font-size: 29px;
      font-weight: 900;
    }
    &-link {
      display: inline-block;
      margin: 0 24px 5px 0;
      color: #db0000;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #2c2c2c;
        text-decoration: none;
      }
    }
    p {
      display: block;
      margin-bottom: 14px;
      color: #585857;
      font-size: 18px;
      font-weight: 400;
    }
    strong,
    b {
      font-weight: 700;
    }
  }
  .slick-prev {
    top: 40px;
    bottom: auto;
    left: 50px;
    width: 32px;
    height: 32px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  .slick-next {
    top: 40px;
    bottom: auto;
    left: 85px;
    width: 32px;
    height: 32px;
    z-index: 1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.home-article {
  display: block;
  max-width: 425px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #000000;
    font-size: 36px;
    font-weight: 900;
  }
  p {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.93;
  }
  blockquote {
    display: block;
    margin: 30px 0;
    padding: 0 0 0 70px;
    border: none;
    background: url('../images/icon_quote.png') no-repeat left top;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.56;
  }
}

.home-bring {
  display: block;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #c82e2e;
    font-size: 36px;
    font-weight: 900;
  }
  p {
    display: block;
    max-width: 440px;
    margin-bottom: 15px;
    opacity: 0.76;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
  }
  &__select {
    display: block;
    position: relative;
    flex: 0 1;
    width: 400px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    &:after {
      display: block;
      position: absolute;
      content: '';
      right: 20px;
      top: 50%;
      width: 16px;
      height: 8px;
      margin-top: -4px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: contain;
    }
    select {
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px 38px 18px 24px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  input {
    display: block;
    flex: 0 1;
    width: 400px;
    margin-bottom: 7px;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    &::-webkit-input-placeholder {
      color: #000000;
    }
    &::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: #000000;
    }
  }
  button {
    display: block;
    flex: 0 1;
    width: 400px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #c82e2e;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #f7ea43;
      color: #242222;
      text-decoration: none;
    }
  }
}

.home-reviews {
  display: block;
  width: 100%;
  max-width: 560px;
  align-items: center;
  text-align: center;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__card {
    display: inline-block;
    max-width: 200px;
  }
  &__link {
    display: block;
    text-align: center;
    color: #db0000;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #f7ea43;
      text-decoration: none;
    }
  }
  .item {
    background: rgba(0, 0, 0, 0.80);
  }
  #sync1 {
    margin-bottom: 14px;
    .owl-nav {
      position: absolute;
      width: 100%;
      top: 48%;
    }
    .owl-prev {
      position: absolute;
      left: -80px;
      background: transparent !important;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .owl-next {
      position: absolute;
      right: -80px;
      background: transparent !important;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  #sync2 {
    margin-bottom: 45px;
    .item {
      max-width: 105px;
      cursor: pointer;
    }
    .owl-item.current.active {
      opacity: 0.8;
    }
  }
}

.home-team {
  display: block;
  width: 100%;
  max-width: 875px;
  color: #ffffff;
  font-size: 16px;
  &__title {
    display: block;
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__cards {
    display: block;
    .slick-prev {
      top: 100%;
      bottom: 0;
      left: auto;
      right: -45px;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-next {
      top: 100%;
      bottom: 0;
      left: auto;
      right: -80px;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &__card {
    display: block;
    &-block {
      padding-left: 25px;
    }
    &-content {
      display: block;
      height: 440px;
      overflow: hidden;
    }
    &-img {
      display: block;
      max-width: 100%;
      border-radius: 15px;
    }
    &-name {
      display: block;
      margin-bottom: 10px;
      color: #f7ea43;
      font-size: 24px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin-bottom: 25px;
      color: #f7ea43;
      font-size: 16px;
      font-weight: 400;
    }
    p {
      display: block;
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 16px;
      font-style: italic;
      line-height: 1.69;
    }
  }
}

.home-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 870px;
  z-index: 5;
  &__block {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 275px;
    padding: 35px 25px 30px 25px;
    background-color: #ffffff;
    text-align: center;
  }
  &__bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 4;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 35px 0 15px 0;
    z-index: 5;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 4px 10px;
        border-bottom: 1px solid transparent;
        color: #ffffff;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    z-index: 5;
    span {
      margin-right: 5px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      line-height: 1.1;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
  &__logo {
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  p {
    display: block;
    margin-bottom: 14px;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.69;
  }
  strong,
  b {
    font-weight: 900;
  }
  &__number {
    display: block;
    margin: 10px 0 15px 0;
    color: #000000;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.05;
    text-transform: uppercase;
    text-align: center;
  }
  &__btn {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 26px;
    border-radius: 10px;
    background-color: #f7ea43;
    color: #000000;
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(89, 89, 87, 0.8);
      color: #f7ea43;
      text-decoration: none;
    }
  }
  &__social {
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      width: 24px;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.rb-main {
  display: block;
  position: relative;
  margin-left: 270px;
  background-color: #ffffff;
  &_color {
    &_light {
      background: #f9f9f9;
    }
  }
}

.rb-header {
  display: block;
  padding: 100px 20px 90px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    text-align: center;
  }
}

.rb-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
  line-height: 1.1;
  li {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #ffffff;
      font-size: 14px;
      line-height: 1.1;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-bottom-color: rgba(255, 255, 255, 0.40);
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 10px;
      line-height: 1.1;
    }
  }
  &_about {
    margin-bottom: 300px;
  }
  &_color {
    &_dark {
      margin-bottom: 80px;
      li {
        color: #585856;
        font-size: 14px;
        font-weight: 400;
        a {
          color: #585856;
          font-size: 14px;
          font-weight: 400;
          &:hover,
          &:active,
          &:focus {
            border-bottom-color: #585856;
          }
        }
      }
    }
  }
}

.rb-container {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.rb-article {
  display: block;
  margin: 75px 0 50px 0;
  color: #000000;
  font-size: 16px;
  p {
    display: block;
    max-width: 740px;
    margin-bottom: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;
  }
  &__special {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 10px 0 40px 0;
    padding: 24px 50px;
    background-color: #faf9f8;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    b,
    strong {
      font-weight: 900;
    }
  }
  &__description {
    display: block;
    margin-bottom: 40px;
    color: #000000;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
  }
  ul {
    display: block;
    max-width: 550px;
    margin-bottom: 40px;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin-bottom: 20px;
      padding-left: 60px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: url('../images/icon_ul.png') no-repeat center;
        background-size: contain;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 720px;
  }
  iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 15px 0;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.rb-prices {
  display: block;
  padding: 90px 0;
}

.rb-collapse {
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    text-decoration: none;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    cursor: pointer;
    span {
      color: #585856;
      font-size: 24px;
      font-weight: 900;
    }
    &-arrow {
      display: inline-block;
      transition: all 0.15s ease-out;
      &_rotated {
        transform: rotate(270deg) !important;
      }
    }
  }
  &__content {
    display: none;
    padding: 0 30px 50px 30px;
  }
  .table>thead>tr>th {
    padding: 18px 30px;
    border: 0;
    background-color: #fceb26;
    color: #585856;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 900;
  }
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th {
    padding: 18px 30px;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    background-color: #f7f7f7;
    color: #585856;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.rb-contacts {
  display: block;
  padding-top: 35px;
  color: #585856;
  font-size: 13px;
  font-weight: 400;
  p {
    display: block;
    margin-bottom: 10px;
    color: #585856;
    font-size: 13px;
    line-height: 1.69;
    font-weight: 400;
  }
  b,
  strong {
    font-weight: 900;
  }
  &__number {
    display: block;
    margin-bottom: 10px;
    color: #585856;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.05;
    text-transform: uppercase;
  }
  &__btn {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fceb26;
    color: #000000;
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(89, 89, 87, 0.8);
      color: #f7ea43;
      text-decoration: none;
    }
  }
}

.rb-stocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px 0 70px 0;
  &__card {
    display: inline-block;
    flex: 0 1 447px;
    height: 267px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
    &-title {
      display: flex;
      align-items: center;
      height: 85px;
      padding: 10px 30px;
      overflow: hidden;
      border-radius: 10px 10px 0 0;
      background-color: #fceb26;
      color: rgba(0, 0, 0, 0.90);
      font-size: 20px;
      font-weight: 900;
    }
    &-content {
      display: block;
      height: 165px;
      padding: 25px 30px;
      overflow: hidden;
      color: #585856;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 400;
      p {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.rb-tips {
  display: block;
  padding: 90px 0;
  &__cards {
    display: block;
    width: 100%;
    max-width: 770px;
    margin: 0 auto 45px auto;
    .slick-prev {
      top: 45%;
      bottom: auto;
      left: -52px;
      width: 32px;
      height: 32px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-next {
      top: 45%;
      bottom: auto;
      right: -52px;
      width: 32px;
      height: 32px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &__card {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    img {
      display: block;
      width: 234px;
      height: 205px;
      margin-bottom: 14px;
      border-radius: 10px;
      object-fit: cover;
    }
    &-title {
      display: block;
      height: 38px;
      overflow: hidden;
      color: #585856;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.about-main {
  display: block;
  padding: 80px 0 30px 0;
  background-size: auto 100%;
  background-position: right center;
  background-repeat: no-repeat;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #000000;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  p {
    display: block;
    max-width: 400px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.93;
  }
  blockquote {
    display: block;
    width: 100%;
    max-width: 455px;
    margin-bottom: 30px;
    padding: 0 0 0 70px;
    border: 0;
    background: url('../images/icon_quote_2.png') no-repeat left top;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.56;
  }
}

.about-videos {
  display: block;
  padding: 90px 0 50px 0;
  background-color: #f5f5f5;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #000000;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
  &__card {
    display: inline-block;
    flex: 0 1 310px;
    margin-bottom: 25px;
  }
}

.repair-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-left: -1px;
}

.repair-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 385px;
  height: 295px;
  margin: 1px 0 0 1px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.15s ease-out;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.15s ease-out;
  }
  &__title {
    display: block;
    max-width: 240px;
    color: #fceb26;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    transition: all 0.15s ease-out;
  }
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    .repair-card__content {
      opacity: 0;
    }
    text-decoration: none;
  }
}

.gallery-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.gallery-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  margin-top: 1px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  &__title {
    display: inline-block;
    position: relative;
    padding: 32px 80px 32px 55px;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    color: #fceb26;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.15s ease-out;
  }
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    .gallery-card__content {
      padding: 110px 0;
      background: transparent;
    }
    .gallery-card__title {
      background: #fceb26;
      color: #2d2d2c;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 1000%;
        height: 1px;
        top: 50%;
        left: 100%;
        background: #fceb26;
      }
    }
    text-decoration: none;
  }
}

.h-p-l-35 {
  padding-left: 35px;
}

.portfolio-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 90px 0 80px 0;
}

.portfolio-card {
  display: block;
  margin-bottom: 8px;
  padding: 35px 40px 30px 40px;
  box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: #ffffff;
  color: #3d3d3c;
  font-size: 14px;
  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 210px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #585856;
    font-size: 20px;
    font-weight: 900;
  }
  &__info {
    display: block;
    margin-bottom: 15px;
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    background-color: #f9f9f9;
    color: #585856;
    font-size: 16px;
    font-weight: 400;
    &:nth-child(even) {
      background: #f5f5f5;
    }
    img {
      display: inline-block;
      margin-right: 16px;
    }
    span {
      display: inline-block;
      color: #585856;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__content {
    display: block;
  }
  &__collapse {
    display: none;
    padding-top: 25px;
  }
  &__more {
    display: inline-flex;
    align-items: center;
    color: #ff0000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      border-bottom: 1px dashed #ff0000;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      span {
        border-color: transparent;
      }
    }
  }
  &__less {
    display: inline-flex;
    align-items: center;
    color: #ff0000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      border-bottom: 1px dashed #ff0000;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      span {
        border-color: transparent;
      }
    }
  }
  &__gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    img {
      display: inline-block;
      width: 105px;
      height: 60px;
      margin-bottom: 10px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  p {
    display: block;
    margin-bottom: 35px;
    color: #3d3d3c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }
}

.home-scroll {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 18px;
  height: 28px;
  margin-left: -9px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
    transform: translateY(10px);
  }
}

.home-down {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 28px;
  height: 33px;
  margin-left: -14px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  img {
    width: 100%;
    height: 100%;
  }
}

.rb-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #fceb26;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #fceb26;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background-color: #fceb26;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #fceb26;
    }
  }
}