.navbar {
  min-height: auto;
  margin: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  margin-right: 0;
}

.clear,
.clear:after,
.clear:before {
  content: none !important;
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
{
  display: none;
}