@media (max-width: 1400px) {
  .rb-navigation__nav {
    margin-bottom: 20px;
    padding: 20px 20px 5px 60px;
    li {
      a {
        margin-bottom: 15px;
      }
    }
  }
  .home-welcome__title {
    margin: 100px 0;
  }
  .home-features__title {
    margin-bottom: 50px;
  }
  .home-article__title {
    margin-bottom: 20px;
  }
  .home-reviews__title {
    margin-bottom: 20px;
  }
  .home-team__title {
    margin-bottom: 20px;
  }
  .rb-section_padding_50 {
    padding: 40px;
  }
}

@media (max-width: 1200px) {
  .rb-navigation {
    display: none;
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
    &__switcher {
      display: block;
      position: fixed;
    }
    &__close {
      display: block;
    }
  }
  #rb-fullpage {
    margin: 0;
  }
  .rb-main {
    margin: 0;
  }
  .rb-top__card {
    height: 100%;
    min-height: 100vh;
  }
  .rb-section {
    height: auto;
    min-height: 100vh;
  }
  .slick-slide img {
    margin: 0 auto 20px auto;
  }
  .home-team__card-name {
    text-align: center;
  }
  .home-team__card-who {
    text-align: center;
  }
  .home-team__cards .slick-prev {
    left: 0;
    right: auto;
  }
  .home-team__cards .slick-next {
    left: 35px;
    right: auto;
  }
  .home-footer__widget {
    display: none;
  }
  .home-footer {
    justify-content: space-around;
  }
  .home-features__cards {
    justify-content: space-around;
  }
  .home-down {
    display: none;
  }
  .home-scroll {
    display: none;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .rb-section_padding_50 {
    padding: 20px;
  }
  .rb-top__card {
    padding: 20px 20px 60px 20px;
  }
  .home-welcome__card {
    margin-bottom: 10px;
  }
  .home-welcome__title {
    margin-bottom: 40px;
    font-size: 34px;
  }
  .home-features__title {
    margin-bottom: 20px;
  }
  .home-features__card {
    margin-bottom: 20px;
  }
  .rb-repair__card {
    padding: 20px;
  }
  .rb-repair__content {
    padding: 20px 25px;
  }
  .rb-section_xs_yellow {
    background: #f7ea43;
  }
  .rb-section_xs_white {
    background: #ffffff !important;
  }
  .rb-section_xs_dark {
    background: rgba(0, 0, 0, 0.80) !important;
  }
  .rb-section_xs_light {
    background: rgba(0, 0, 0, 0.20) !important;
  }
  .home-reviews #sync2 {
    margin-bottom: 20px;
  }
  .home-bring {
    max-width: 100%;
  }
  .home-bring input {
    width: 100%;
  }
  .home-bring__select {
    width: 100%;
  }
  .home-bring button {
    width: 100%;
  }
  .home-bring__title {
    margin-bottom: 25px;
    font-size: 34px;
    text-align: center;
  }
  .home-team__card-content {
    height: 560px;
  }
  .rb-google-map {
    display: block;
    position: relative !important;
    height: 300px;
    z-index: 2 !important;
  }
  .home-footer__block {
    width: 100%;
  }
  .home-footer {
    z-index: 1;
  }
  .rb-prices {
    padding: 20px 0;
  }
  .rb-header__title {
    font-size: 36px;
  }
  .rb-header {
    padding: 50px 20px;
  }
  .rb-article {
    margin: 0;
    padding: 20px 0;
  }
  .rb-breadcrumps_color_dark {
    margin-bottom: 20px !important;
  }
  .rb-stocks__card-content {
    height: 145px;
  }
  .rb-tips {
    padding: 20px 0;
  }
  .rb-tips__cards .slick-prev {
    left: -32px;
  }
  .rb-tips__cards .slick-next {
    right: -32px;
  }
  .rb-collapse__content {
    padding: 0 20px 20px 20px;
  }
  .rb-collapse__head {
    padding: 20px;
  }
  .rb-breadcrumps_about {
    margin-bottom: 20px;
  }
  .about-videos__cards {
    justify-content: space-around;
  }
  .about-videos {
    padding: 20px 0;
  }
  .about-videos__title {
    margin-bottom: 20px;
  }
  .about-main {
    padding: 20px 0;
    p {
      margin-bottom: 20px;
    }
  }
  .about-main__title {
    margin-bottom: 20px;
  }
  .repair-card {
    flex: 1 1 260px;
    height: 250px;
  }
  .gallery-card:hover .gallery-card__content,
  .gallery-card:active .gallery-card__content,
  .gallery-card:focus .gallery-card__content {
    padding: 40px 0;
  }
  .portfolio-card__title {
    margin: 15px 0;
  }
  .h-p-l-35 {
    padding: 0;
  }
  .portfolio-card__gallery {
    justify-content: space-around;
  }
  .portfolio-cards {
    margin: 20px 0;
  }
  .home-footer__nav li a {
    color: rgba(0, 0, 0, 0.80);
  }
  .home-footer__creators {
    color: rgba(0, 0, 0, 0.80);
    a {
      color: rgba(0, 0, 0, 0.80);
      border-color: rgba(0, 0, 0, 0.80);
    }
  }
  .home-footer__nav li a:hover,
  .home-footer__nav li a:active,
  .home-footer__nav li a:focus {
    border-color: rgba(0, 0, 0, 0.80)
  }
  .home-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    li {
      display: block;
      a {
        display: block;
      }
    }
  }
  .home-footer__nav {
    margin-top: 10px;
  }
  .home-footer__bg {
    display: none;
  }
  .rb-modal {
    padding: 20px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}